name: CI

on:
  push:
  pull_request:

jobs:
  ci:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]

    env:
      RAILS_ENV: staging
      DEBUG: '1'

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install (make setup)
        run: make setup

      - name: Print Hello from Hexlet
        uses: hexlet-components/hello-from-hexlet-action@release

      - name: Lint (make lint)
        run: make lint

      - name: Test (make test)
        run: make test
